#root {
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

.main {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: rgb(58, 180, 169);
  background: radial-gradient(circle, rgba(58, 180, 169, 1) 0%, rgba(208, 6, 255, 1) 75%);
  box-shadow: 8px 5px 15px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
